{% extends "layout.html" %}
{% block content %}
<section class="recipe-hero">
    <div class="recipe-hero-overlay"></div>

    <div class="recipe-hero-content">
        <span class="recipe-hero-label">
            Building consistency through routine.
        </span>

        <h1>
            Routine Builder
        </h1>

        <p>
            From hair to skin cair, AM or PM, find the best routine for you and your needs!
        </p>

        <form id="routine-form" class="recipe-search" action="{{ url_for('routine') }}" method="post">
            <input id="routine-text" type="text" name="product_name"  maxlength="1000" placeholder="Enter products to build routine..." aria-label="Enter products to build a routine" required>
            <button type="submit">
                <i class="bi bi-search"></i>
            </button>
        </form>

        <div id="routine-loading" hidden> Curating routine for <span id="routine-loading-data"> </span>....</div>



        {% if routine %}
            <div class="routine-card">

                <h3 class="routine-title"> Specialized Routine with {{product_title}}</h3>

                <div class="routine-card-box">
                    <h2>Overview</h2>
                    <p>{{routine.introduction}}</p>
                </div>
                
                <div class="routine-card-box">
                    <h2>Product Type</h2>
                    <p>{{routine.product_type}}</p>
                </div>

                
                <div class="routine-card-box">
                    <h2>Routine</h2>
                    <ol>
                    {% for procedure in routine.routine_steps %}
                        <li>{{procedure.product}} - {{procedure.reason}}</li>
                    {% endfor %}
                    </ol>
                </div>

                <div class="routine-card-box">
                    <h2>Frequency</h2>
                    <p> {{routine.frequency}} </p>
                </div>

                <div class="routine-card-box routine-card-box--wide">
                    <h2>Steps</h2>
                    <ol>
                    {% for tip in routine.steps %}
                        <li>{{tip}}</li>
                    {% endfor %}
                    </ol>
                </div>

                <div class="routine-card-box routine-card-box--wide">
                    <h2>Warnings</h2>
                    <ol>
                    {% for warning in routine.warnings %}
                            <li>{{warning}}</li>
                    {% endfor %}
                    </ol>
                </div>

            </div>
        {% endif %}
    </div>
</section>
<script>
    document.getElementById('routine-form').addEventListener('submit', function(){
        const product_name = document.getElementById('routine-text').value
        document.getElementById('routine-loading-data').textContent = product_name
        document.getElementById('routine-loading').hidden = false
    })
</script>
{% endblock content %}