{% extends "layout.html" %}
{% block content %}
<section class="recipe-hero">
    <div class="recipe-hero-overlay"></div>

    <div class="recipe-hero-content">
        <span class="recipe-hero-label">
            Building consistency through routine.
        </span>

        <h1>
            Routine Builder
        </h1>

        <p>
            From hair to skin cair, AM or PM, find the best routine for you and your needs!
        </p>

        <form class="recipe-search" action="#" method="GET">
            <input type="text" name="search" placeholder="Search recipes or ingredients..." aria-label="Search recipes">
            <button type="submit">
                <i class="bi bi-search"></i>
            </button>
        </form>

    </div>
</section>
{% endblock content %}